/* Global setting */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weoght-regular: 400;

  /* Size */
}

/* Universal tages */
* {
  box-sizing: border-box;
  background-color: blueviolet;
}

/* Typography : text padding */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weoght-regular);
  color: var(--color-light-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weoght-regular);
  color: var(--color-light-white);
  margin: 4px 0;
}
