/* Global setting */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;
  --color-Purple: #aa00ff;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight 글자 굵기 */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weoght-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /*Anmimation */
  --anmimation-duration: 300ms;
}

/* Universal tages */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  cursor: default; /*커서 올릴때 그냥 마우스 커서로 설정*/
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent; /*배경색이랑 같게*/
  cursor: pointer;
  outline: none;
  border: none;
}

/* Typography : text padding */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weoght-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weoght-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light-white);
  background-color: var(--color-Purple);
  padding: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  vertical-align: middle; /*img & text 나란히 정렬*/
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

/* .navbar__menu__item.active {
  border: 1px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
} */

.navbar__menu__item:hover {
  background-color: var(--color-dark-white);
}

.navbar__toggle-btn {
  position: absolute;
  /*position: absolute : 기존 자리에서 빠져나와 포지션을 함*/
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-light-white);
  display: none;
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-light-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
  color: var(--color-light-white);
}

/* section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/*  About */
.about__majors {
  display: flex;
  margin: 80px 0;
  align-items: center;
  justify-content: space-between;
}

.major__icon {
  border: 2px solid var(--color-Purple);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  font-size: 70px; /*어썸폰트도 font기 때문에 font-size 적용*/
  color: var(--color-Purple);
  line-height: 170px; /*어썸폰트 원안의 중간으로*/
  margin: auto;
  margin-bottom: 16px;
}

.major__title,
.major__description {
  color: var(--color-black);
}

/* icon 애니메이션 넣기 */
.major__description {
  font-size: var(--font-small);
}

.major__icon i {
  transition: all var(--anmimation-duration) ease;
}
.major__icon:hover i {
  color: gold;
  transform: rotate(-30deg) scale(1.1);
}

.school__logo {
  width: 80px;
  height: 40px;
}

.school {
  display: flex;
  align-items: center;
}

.school__description {
  margin: 0 16px;
  text-align: left;
}

.school_name,
.school__period {
  color: var(--color-black);
}

.school_name {
  font-size: var(--font-small);
}
.school__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background: url("imgs/home-background.png") center/cover no-repeat;
}

.skills__title,
.skills__attributes,
.skills__description {
  color: var(--color-light-white);
}

.skillset {
  display: flex;
  background-color: #e040fb;
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-light-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: #aa00c7;
  padding: 20px 40px;
}
.skillset__left__skill {
  margin-bottom: 25px;
}

.skillset__left__skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-white);
}

.skill__value {
  height: 3px;
  background-color: #424242;
}

.skillset__right {
  flex-basis: 40%;
}

.skillset__right__tools {
  background-color: #ff79ff;
}

.skillset__right__tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.categories__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 50px;
}

.categories__btn .active,
.categories__btn:hover {
  background-color: rebeccapurple;
  color: var(--color-light-white);
}

.categories__btn .active .category__count,
.categories__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  border: 1px solid pink;
  background-color: pink;
  border-radius: 50%;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  display: inline-block; /*span tag이기 때문*/
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--anmimation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0; /*투명도*/
  transition: all var(--anmimation-duration) ease-in;
  transform: translate(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translate(0px);
}

.project__description h3 {
  color: var(--color-light-white);
}

.project__description h3:after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -15px;
  margin-top: 8px;
}

/* Testimonials */
#testimonials {
  background: url("imgs/home-background.png") center/cover no-repeat;
}

.testimonials__title,
.testimonials__description,
.speech__bubble,
.speech__name {
  color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}
.testimonials__comment {
  display: flex;
  margin: 32px 0;
}
.comment__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* 짝수, 홀수 구분해서 css 주기 */
.comment__avatar:nth-child(odd) {
  /*홀수*/
  margin-right: 40px;
}
.comment__avatar:nth-child(even) {
  /*짝수*/
  margin-left: 40px;
}

.comment__speech-bubble {
  padding: 18px;
  background-color: #ff79ff;
  border-radius: var(--size-border-radius);
}

.comment__speech-bubble u {
  color: var(--color-black);
}

/* Contact */
#contact {
  background-color: var(--color-Purple);
}

.contact__title,
.contact_email,
.contact__footer {
  color: var(--color-light-white);
  margin: 40px 0;
}

.contact__title {
  margin: 32px 0;
}

.contact__link {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--anmimation-duration) ease-in;
}

.contact__link i:hover {
  transform: scale(1.1);
  color: var(--color-black);
}

/* 반응형 만들기! 768opx 일때!
For below 768px screen width  : @media 쿼리*/
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* 너비가 작아서 중간으로 안오기 때문에 100%로 맞춰야함 */
    display: none;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 40px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
    /* 화면에 맞게 메꿔줌 */
  }
  .comment__avatar {
    width: 80px;
    height: 80px;
  }
}
